---

interface Props {
    diferenciais: string[];
    title: string;
    is_infra_estrutura?: boolean;
    condominio?: string
}

const { diferenciais, title, is_infra_estrutura = false, condominio } = Astro.props;

let classes = ["diferenciais"];

if (is_infra_estrutura) {
    classes.push("infra-estrutura");
  
}
---

{
    diferenciais.length > 0 && (
        <div class:list={classes}>
            <div class="diferenciais-header">
                <h2>{title}</h2>
                {condominio && (
                    <div>
                        <a href={`/busca?condominio=${condominio}`}>Ver outros imóveis no {condominio}</a>
                    </div>
                )}
            </div>
            <ul>
                {diferenciais.map((diferencial) => (
                    <li>{diferencial}</li>
                ))}
            </ul>
        </div>
    )
}

<style lang="less">
    .diferenciais {
        .diferenciais-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                margin-top: 2em;
                margin-bottom: 1.5em;
                color: #000c39;
            }
    
            a {
                display: inline-block;
                border: 3px solid #000c39;
                color: #000c39;
                padding: 0.5em 2em;
                font-weight: bold;
                font-size: 14px;
                border-radius: 2em;
                flex-basis: 1;
                @media (max-width:700px) {
                    display: none;
                }
            }

        }

        ul {
            list-style: "- ";

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
            grid-gap: 0.5rem 2rem;

            margin: 0;
            padding: 0;
            li {
                color: #666666;
                margin-bottom: 0.25em;
            }
        }
        &.infra-estrutura {
            h2 {
                border-left: 4px solid #041335;
                padding-left: 1rem;
                line-height: 85%;
            }
            ul {
                list-style: none;
                li {
                    border-left: 4px solid #041335;
                    padding-left: 1rem;
                }
            }
        }
    }
</style>
