---
import type { CollectionEntry } from "astro:content";
import IconWhatsapp from "../assets/images/icons/whatsapp.svg?raw";
import Icon from "./icon.astro";
import { db } from "../db";

interface Props {
    imovel?: CollectionEntry<"imoveis">["data"];
    condominio?: CollectionEntry<"condominios">["data"];
}

const { imovel, condominio } = Astro.props;

const info_contato = await db
    .selectFrom("infocontato")
    .selectAll()
    .executeTakeFirst();
let whatsapp = "";
if (info_contato) {
    whatsapp = info_contato.whatsapp.replace(/\D+/gim, "");
}
---

<div class="box-interesse-lateral">
    {
        imovel && (
            <div class="valores">
                <h4>VALOR</h4>
                {imovel.venda &&
                    imovel.valor_venda_de > 0 &&
                    imovel.valor_venda_por > 0 && (
                        <div class="lista-valores">
                            <div class="valor-de">
                                <small>
                                    {imovel.locacao ? "VENDA" : ""} DE
                                </small>
                                <span>R$ {imovel.valor_venda_de}</span>
                            </div>
                            <div class="valor-por">
                                <small>
                                    {imovel.locacao ? "VENDA" : ""} POR
                                </small>
                                <span>R$ {imovel.valor_venda_por}</span>
                            </div>
                        </div>
                    )}
                {imovel.venda &&
                    (imovel.valor_venda_por == 0 ||
                        imovel.valor_venda_de == 0) &&
                    imovel.valor_venda > 0 && (
                        <div class="lista-valores">
                            <div class="valor-por">
                                <small>
                                    VALOR {imovel.locacao ? "DE VENDA" : ""}
                                </small>
                                <span>R$ {imovel.valor_venda}</span>
                            </div>
                        </div>
                    )}
                {imovel.locacao &&
                    imovel.valor_locacao_de > 0 &&
                    imovel.valor_locacao_por > 0 && (
                        <div class="lista-valores">
                            <div class="valor-de">
                                <small>
                                    {imovel.locacao ? "ALUGUEL" : ""} DE
                                </small>
                                <span>R$ {imovel.valor_locacao_de}</span>
                            </div>
                            <div class="valor-por">
                                <small>
                                    {imovel.locacao ? "ALUGUEL" : ""} POR
                                </small>
                                <span>R$ {imovel.valor_locacao_por}</span>
                            </div>
                        </div>
                    )}
                {imovel.locacao &&
                    (imovel.valor_locacao_por == 0 ||
                        imovel.valor_locacao_de == 0) &&
                    imovel.valor_locacao > 0 && (
                        <div class="lista-valores">
                            <div class="valor-por">
                                <small>
                                    VALOR {imovel.locacao ? "DE ALUGUEL" : ""}
                                </small>
                                <span>R$ {imovel.valor_locacao}</span>
                            </div>
                        </div>
                    )}

                <div class="valores-adicionais">
                    {imovel.valor_iptu && (
                        <div>
                            <strong>IPTU:</strong>{" "}
                            {imovel.valor_iptu.toLocaleString("pt-BR", {
                                style: "currency",
                                currency: "BRL",
                            })}
                        </div>
                    )}
                    {imovel.valor_condominio && (
                        <div>
                            <strong>Condomínio:</strong>{" "}
                            {imovel.valor_condominio.toLocaleString("pt-BR", {
                                style: "currency",
                                currency: "BRL",
                            })}
                        </div>
                    )}
                </div>
            </div>
        )
    }
    <form class="form-interesse">
        {imovel && (
            <input type="hidden" name="codigo" value={imovel.codigo} />
            <input
                type="hidden"
                name="url_imovel"
                value={`https://www.roccaimob.com.br/imovel/${imovel.status.toLowerCase()}/${imovel.codigo}/${imovel.slug}`}
            />
        )}
        {condominio && (
            <input type="hidden" name="codigo" value={condominio.id} />
            <input
                type="hidden"
                name="url_imovel"
                value={`https://www.roccaimob.com.br/condominio/${condominio.slug}`}
            />
        )}
        <h4>ESTOU INTERESSADO</h4>
        <input
            type="text"
            name="nome"
            placeholder="NOME"
            value=""
            class="raleway"
        />
        <input
            type="email"
            name="email"
            placeholder="E-MAIL"
            value=""
            class="raleway"
        />
        <input
            type="text"
            name="telefone"
            placeholder="TELEFONE"
            value=""
            class="raleway"
        />
        <button type="submit">ENVIAR INTERESSE</button>
        <a href={`https://wa.me/55${whatsapp}`} class="whatsapp">
            <Icon icon={IconWhatsapp} />
            ATENDIMENTO ONLINE
        </a>
    </form>
</div>
<style lang="less">
    .box-interesse-lateral {
        position: sticky;
        top: 3em;
    }
    .valores-adicionais {
        margin: 1em 0;
        div {
            margin-bottom: 0.5em;
        }
        color: #696969;
    }
    .valores {
        font-size: 0.75rem;
        background-color: #f4f4f4;
        padding: 1.25rem 1.5rem;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;

        .lista-valores {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
        }
        .valor-de,
        .valor-por {
            display: flex;
            flex-direction: column;
            small {
            }
            span {
                font-weight: 600;
            }
        }
        .valor-de {
            color: #a7a7a7;
            small {
            }
            span {
                text-decoration: line-through;
                text-decoration-thickness: 1px;
            }
        }
        .valor-por {
            color: #696969;
        }
    }

    .form-interesse {
        color: white;
        background-color: #041335;
        padding: 1.25rem 1.5rem;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        h4 {
            margin: 0.5em 0;
            font-weight: 600;
        }

        input {
            background-color: transparent;
            color: white;
            font-size: 0.75rem;
            &::placeholder {
                color: white;
                font-width: 100;
            }
            border: 0;
            border-bottom: 1px solid white;
            width: 100%;
            padding: 1em 0;
        }
        button[type="submit"],
        .whatsapp {
            --color: #f6a500;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border: 1px solid var(--color);
            color: var(--color);
            background: transparent;
            margin-bottom: 1.25em;
            margin-top: 1.25em;
            border-radius: 10px;
            width: 100%;
            padding: 0.75em;
            font-size: 0.75rem;
            font-weight: 500;
            gap: 1em;
            &.whatsapp {
                --color: #1ad13f;
            }
        }
    }
</style>

<script>
    import Swal from "sweetalert2";
    import { getToken } from '../lib/captcha'

    const $form = document.querySelector(
        "form.form-interesse"
    ) as HTMLFormElement;

    $form.addEventListener("submit", (ev: SubmitEvent) => {
        ev.stopPropagation();
        ev.preventDefault();

        const $btn = $form.querySelector(
            "button[type=submit]"
        ) as HTMLButtonElement;

        const send = async () => {
            try {
                $btn.innerHTML = "ENVIANDO...";

                const token = await getToken()

                const body = new FormData($form);
                body.set('recaptcha_token', token)
                const response = await fetch(
                    `https://www.roccaimob.com.br/imovel/send-interesse`,
                    {
                        method: "POST",
                        body,
                    }
                );

                if (!response.ok) {
                    throw new Error("Não foi possível enviar o formulário");
                }

                const { success = false, msg = "" } = await response.json();
                if (!success) {
                    throw new Error(msg);
                }

                Swal.fire({
                    icon: "success",
                    title: msg,
                });
            } catch (error) {
                let title = "Não foi possível enviar o formulário";
                if (error instanceof Error) {
                    title = error.message;
                }

                Swal.fire({
                    icon: "error",
                    title,
                });
            }
            $btn.innerHTML = "ENVIAR INTERESSE";
        };

        
        send();

    });

    const telefone = $form.querySelector('[name=telefone]') as HTMLInputElement
    telefone.addEventListener('input', () => {
        let value = telefone.value.replace(/\D+/igm,'').substring(0, 11)
        if (value.length <= 10) {
            value = value.replace(/^(\d{0,2})(\d{0,4})(\d{0,5})/igm ,'($1) $2-$3')
        } else {
            value = value.replace(/^(\d{0,2})(\d{0,5})(\d{0,4})/igm ,'($1) $2-$3')
        }
        
        telefone.value = value.replace(/\D+$/igm, '')
    })
</script>
