---
import { getCollection } from "astro:content";

interface Props {
    condominio: string;
}

const { condominio } = Astro.props;

const condominio_collection = await getCollection(
    "condominios",
    ({ data }) => (data.nome_condominio = condominio)
);
const record = condominio_collection
    .map((row) => row.data)
    .find((row) => row.nome_condominio === condominio);
---

<div class="box-sobre-condominio raleway">
    <h3>Sobre o {record?.titulo}</h3>
    <div class="content">
        <div class="reels">
            <!--<Image alt="Reels" src={Reels}  />-->
            <div set:html={record?.reel} />
        </div>
        <div class="content-body">
            <div set:html={record?.descricao} />

            <a href={`condominio/${record?.slug}`} class="btn"
                >Saiba mais sobre o {record?.titulo}</a
            >
        </div>
    </div>
</div>

<style lang="less">
    .box-sobre-condominio {
        margin-top: 4rem;
        background-color: #f4f4f4;
        padding: 2rem;
        border-top-right-radius: 0.8125rem;
        border-bottom-right-radius: 0.8125rem;

        h3 {
            margin-top: 0;
            margin-bottom: 2rem;
            color: #000c39;
            font-size: 1.4rem;
        }
        h4 {
            color: #000c39;
            font-size: 1.125rem;
        }

        .content {
            display: flex;
            @media (max-width: 779px) {
                display: block !important;
            }
            gap: 2em;
            color: #575763;
            p {
                margin-top: 0;
            }

            .btn {
                --bg-color: #000c39;
                background-color: var(--bg-color);
                color: white;
                display: inline-block;
                font-weight: bold;
                padding: 0.5625rem 4.68rem;
                border-radius: 0.625rem;
                font-size: 0.8rem;
                position: relative;
                margin-right: 1.5rem;
                margin-top: 2em;
            }
        }
    }
</style>
